@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

body {
  font-family: 'Varela Round', sans-serif;
}

::-webkit-scrollbar {
  width: 0.3vw;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #00a6ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00a6ffe2;
}
